body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 700px;
}

.results-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #0bb3e6;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}